In [1]:
import pandas as pd
import numpy as np

# Funções Lambda

## Diferenças entre Funções "Padrão" (Normais) e Funções Lambda

## Funções padrão

* Utilizada muitas vezes
* Muitas linhas de código
* Somente nomeada
* Nenhum ou muitos parâmetros
* Nenhum ou muitos retornos

## Funções Lambda

* Utilizada uma única vez
* Definição em uma linha
* Nomeada ou Anônima
* Nenhum ou muitos parâmetros
* Um ou muitos retornos

In [2]:
def soma(x,y):
    return x + y

print(soma(5,8))

13

In [3]:
soma = lambda x,y: x+y
print(soma(5,8))

13

# As funções _lambda_ são conhecidas por diversos nomes, como:

* _Lambda Expressions_
* _Anonymous Functions_
* _Lambda Abstractions_
* _Lambda Form_
* _Functions Literals_

As funções _lambda_ são _one line expression_, ou seja, expressões de uma linha, mesmo que separadas em várias linhas diferentes.

__CURIOSIDADE__ : as funções _lambda_ são normalmente chamadas de __IIFE__ (_immediately invoked function execution_), ou numa tradução direta para o português __EIFI__ (_execução imediata de função invocada_). 



------


Nas funções _lambda_, diferentemente das convencionais, não é possível utilizar comnandos como:

* _return_
* _pass_
* _assert_
* _raise_

Ao tentar utilizá-los, você receberá um __SYNTAX ERROR__.


#Passagem de parâmetros


Podemos passar parâmetros para as funções _lambda_ de diferentes formas, assim como fazemos com as funções "normais". Veja a seguir:

* parâmetros posicionais
* parâmetros nomeados
* parâmetros em lista de tamanho variável (__*args__)
* parâmetros em lista de tamanho variável nomeado (__**kwargs__)

In [4]:
def minha_func(v1,v2,v3,v4):
    soma = v1+v2+v3+v4
    return soma

#Parâmetros nomeados
minha_func(1,2,3,4)

10

In [5]:
#Parâmetro nomeados
minha_func(v4=4,v3=3,v2=2,v1=1)

10

In [6]:
minha_lambda = lambda v1,v2,v3,v4: v1+v2+v3+v4
minha_lambda(v1=1,v2=2,v3=3,v4=4)

10

# Funções com: *Args

Os __*args__ é uma palavra reservada do python para multiplos argumentos para nossas funções, pois ao invés de passarmos varios e varios parâmetros para nossas funções podemos simplesmente passar o __*args__ para ela.

In [7]:
def somatorio(*args):
    somar = args
    resultado = 0
    for i in somar:
        resultado += i
    return resultado 

print(somatorio(4,5,8))

17

In [8]:
somar = lambda *args: sum(args)
somar(5,6,7,8)

26

# Funções com: **Kwargs

In [9]:
def somatatorio_kwarg(**kwargs):
    total = 0
    for i in kwargs.values():
        total += i
    return total

somatatorio_kwarg(teste=1,teste2=3,teste3=4)

8

## Mas, utilizar função _lambda_ é uma boa prática?

A utlização dessa estrutura divide opiniões na comunidade __Python__.

As funções _lambda_ serão muito úteis neste módulo, onde as usaremos em conjunto com os métodos `apply`, `map`, `filter` e `reduce`, por exemplo. Veremos os 3 últimos métodos ainda nesta aula.

__VALE LEMBRAR__ : mantenha seu código, sempre, de fácil leitura. Se for melhor utilizar uma função normal, FAÇA! Mas, se fizer mais sentido o uso da função _lambda_, não hesite em utilizá-la. 

__*Pratique para se habituar a sintaxe*__

#Ordenando uma lista

In [10]:
lista = ['Davi', 'Pedro', 'Lucas','Amanda', 'Jorge']
lista.sort()
lista

['Amanda', 'Davi', 'Jorge', 'Lucas', 'Pedro']

#Ordenando a pela segunda letra

In [11]:
lista.sort(key=lambda x: x[1])
lista

['Davi', 'Pedro', 'Amanda', 'Jorge', 'Lucas']

## Onde as funções _lambda_ são úteis?

* funções lambda são úteis como pequenas funções de linha única 'descartáveis'
* elas geralmente são úteis para permitir cálculos rápidos ou processamento como entrada para outras funções
* elas podem tornar o código mais fácil de ler se forem usados adequadamente

### O real poder das expressões _lambda_


Em conjunto com outras funções como `map`, `filter` e `reduce`, as expressões _lambda_ mostram toda sua utilidade e valor.

#LIST COMPREHENSION

A list comprehension (compressão de lista) nada mais é que uma maneira de se fazer um laço de repetição de uma maneira mais rapida e resumida.

Sua sintaxe é um pouco diferente do que estamos acostumados.

Adicionando elementos a uma **lista** de forma tradicinal:

```
lista = []

for i in range(1,11,1):
    lista.append(i)

lista
```

Adicionando elementos com o *list comprehension*:



```
lista = [x for x in range(1,11,1)]
lista
```

In [12]:
lista = [x for x in range(1,11,1)]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# map()

A função map() serve para aplicarmos uma função a cada elemento de um interável(listas,dicionarios dentre outros) passado como argumento para esta função.

SINTAXE

`map(funcao_aplicada, interável)`

In [13]:
dobro = list(map(lambda x: x * 2, lista))
print(dobro)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# ATENÇÃO!

Fazemos o casting para ***lista*** para que seja retornada uma lista, senão a função map retornará um map object.

# Map com dicionario

In [14]:
pessoas = [
           {
               'nome': 'Rafael',
               'idade': 46
           },
           {
               'nome': 'Gustavo',
               'idade': 25
           },
           {
               'nome': 'Willian',
               'idade': 22
           }
]

# list(map(lambda menor_30: menor_30['idade'] < 30, pessoas))
pessoas[0]['idade']

46

# filter( )
Esta função tem o nome __autoexplicativo__, e basicamente, filtra os elementos passados na função, de acordo com a função passada como primeiro argumento.

__SINTAXE__

`filter(funcao_aplicada, iterável)`

In [15]:
lista = [x for x in range(50)]
lista

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [16]:
pares = list(filter(lambda numero : numero % 2 == 0, lista))
pares

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [17]:
list(map(lambda pessoa: pessoa['nome'], list(filter(lambda menor_30: menor_30['idade'] < 30, pessoas))))

['Gustavo', 'Willian']

# reduce( )

Esta é uma outra função nativa do __Python__ que aplica uma função em todos os valores passados em forma de lista e retorna apenas um valor

__SINTAXE__

`reduce(funcao_aplicada, iterável)`

__DICA__ 

_reduce_ faz parte da lib _functools_, ou seja, precisamos importar esta biblioteca antes de utilizá-la. 

Esta mudança ocorreu, tirando _reduce_ do core do __python__ na versão 3.

In [18]:
from functools import reduce
soma = reduce(lambda x, y: x + y, [1,2,4,5,6,7,8,9,10])

print(soma)

52

In [19]:
numeros = [12, 43, 3224, 3, 123, 483, 999, 13, 44, 1000]

maior = reduce(lambda x, y: x if x > y else y, numeros)

print(f'Maior número da lista: {maior}')

Maior número da lista: 3224

# Como utilizar as lambda functions em Dataframes?

Podemos utilizar as lambda functions em nossos dataframes de diversas formas à mais comum é utilizando a função __apply()__

In [20]:
iris = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [21]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [22]:
iris.iloc[:, 0:4].apply(lambda x : x.max())

sepal.length    7.9
sepal.width     4.4
petal.length    6.9
petal.width     2.5
dtype: float64

In [23]:
dfs = pd.DataFrame(
    data=[],
    columns=['Lógica de Programação', 'Python', 'Data Science', 'HTML & CSS', 'JavaScript', 'React Native'],
    index=['Amanda', 'Camila', 'Cinthia', 'Gisele', 'Helen', 'Carol', 'Clara', 'Paula']
)

dfs

,Lógica de Programação,Python,Data Science,HTML & CSS,JavaScript,React Native
Amanda,NaN,NaN,NaN,NaN,NaN,NaN
Camila,NaN,NaN,NaN,NaN,NaN,NaN
Cinthia,NaN,NaN,NaN,NaN,NaN,NaN
Gisele,NaN,NaN,NaN,NaN,NaN,NaN
Helen,NaN,NaN,NaN,NaN,NaN,NaN
Carol,NaN,NaN,NaN,NaN,NaN,NaN
Clara,NaN,NaN,NaN,NaN,NaN,NaN
Paula,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
dfs = dfs.apply(lambda nota: np.random.uniform(low=5.0, high=10.0, size=8), axis=0)
dfs

,Lógica de Programação,Python,Data Science,HTML & CSS,JavaScript,React Native
Amanda,9.351844,5.062108,7.146287,5.075516,6.139831,5.468151
Camila,7.024486,8.726198,6.295544,5.016677,9.581351,6.859885
Cinthia,8.794165,7.093322,9.829087,7.286383,9.201923,9.604658
Gisele,5.091927,5.092537,5.274181,7.205099,9.720501,9.453141
Helen,9.797789,9.540604,9.626020,9.095683,9.822841,7.456692
Carol,6.527848,7.841025,8.668860,9.282086,8.235326,8.467037
Clara,6.140877,7.941323,7.976116,5.824937,8.337245,7.878626
Paula,6.965478,9.481887,9.657719,7.266838,7.823406,9.742302

In [25]:
eixos = pd.DataFrame(
    {
        "teste": [1,2,3,4,5],
        "teste 2": [1,4,6,8,10]
    }
)
eixos.mean()

teste      3.0
teste 2    5.8
dtype: float64

In [26]:
dfs['Média'] = dfs.mean(axis=1)
dfs

,Lógica de Programação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média
Amanda,9.351844,5.062108,7.146287,5.075516,6.139831,5.468151,6.373956
Camila,7.024486,8.726198,6.295544,5.016677,9.581351,6.859885,7.250690
Cinthia,8.794165,7.093322,9.829087,7.286383,9.201923,9.604658,8.634923
Gisele,5.091927,5.092537,5.274181,7.205099,9.720501,9.453141,6.972898
Helen,9.797789,9.540604,9.626020,9.095683,9.822841,7.456692,9.223271
Carol,6.527848,7.841025,8.668860,9.282086,8.235326,8.467037,8.170364
Clara,6.140877,7.941323,7.976116,5.824937,8.337245,7.878626,7.349854
Paula,6.965478,9.481887,9.657719,7.266838,7.823406,9.742302,8.489605

In [27]:
dfs['Situação'] = dfs['Média'].map(lambda nota: 'Aprovado' if nota > 6 else 'Reprovado')
dfs

,Lógica de Programação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média,Situação
Amanda,9.351844,5.062108,7.146287,5.075516,6.139831,5.468151,6.373956,Aprovado
Camila,7.024486,8.726198,6.295544,5.016677,9.581351,6.859885,7.250690,Aprovado
Cinthia,8.794165,7.093322,9.829087,7.286383,9.201923,9.604658,8.634923,Aprovado
Gisele,5.091927,5.092537,5.274181,7.205099,9.720501,9.453141,6.972898,Aprovado
Helen,9.797789,9.540604,9.626020,9.095683,9.822841,7.456692,9.223271,Aprovado
Carol,6.527848,7.841025,8.668860,9.282086,8.235326,8.467037,8.170364,Aprovado
Clara,6.140877,7.941323,7.976116,5.824937,8.337245,7.878626,7.349854,Aprovado
Paula,6.965478,9.481887,9.657719,7.266838,7.823406,9.742302,8.489605,Aprovado

In [28]:
dfs.insert(0, 'Status', dfs['Média'].map(lambda nota:'AP' if nota > 6 else 'RP'))

In [29]:
dfs

,Status,Lógica de Programação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média,Situação
Amanda,AP,9.351844,5.062108,7.146287,5.075516,6.139831,5.468151,6.373956,Aprovado
Camila,AP,7.024486,8.726198,6.295544,5.016677,9.581351,6.859885,7.250690,Aprovado
Cinthia,AP,8.794165,7.093322,9.829087,7.286383,9.201923,9.604658,8.634923,Aprovado
Gisele,AP,5.091927,5.092537,5.274181,7.205099,9.720501,9.453141,6.972898,Aprovado
Helen,AP,9.797789,9.540604,9.626020,9.095683,9.822841,7.456692,9.223271,Aprovado
Carol,AP,6.527848,7.841025,8.668860,9.282086,8.235326,8.467037,8.170364,Aprovado
Clara,AP,6.140877,7.941323,7.976116,5.824937,8.337245,7.878626,7.349854,Aprovado
Paula,AP,6.965478,9.481887,9.657719,7.266838,7.823406,9.742302,8.489605,Aprovado

In [30]:
df = pd.DataFrame(
    {
        'Lingugem': ['Python', 'R', 'SQL', 'C', 'Java', 'javaScript', 'Elixir'],
        'Popularidade': ['Alta', 'Baixa', 'Altissima', 'Média', 'Altissima', 'Altissima', 'Baixa'],
        'Versão': [3.11, 4.2,None, None, 11, 16, 1.12],
        'Desenvolvedores': [7000000, 500000, 20000000, 3500000, 16000000, 25000000,200000],
        'Data de lançamento': ['1991-02-20', '1993-08-03', '1986-01-01', '1972-01-01', '1995-05-23', '1995-12-04', '2012-01-01']
    }
)

df

     Lingugem Popularidade  Versão  Desenvolvedores Data de lançamento
0      Python         Alta    3.11          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altissima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altissima   11.00         16000000         1995-05-23
5  javaScript    Altissima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [31]:
df.rename(str.upper, axis=1, inplace =True)
df

     LINGUGEM POPULARIDADE  VERSÃO  DESENVOLVEDORES DATA DE LANÇAMENTO
0      Python         Alta    3.11          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altissima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altissima   11.00         16000000         1995-05-23
5  javaScript    Altissima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [32]:
df['LINGUGEM'].apply(lambda txt: txt.upper())

0        PYTHON
1             R
2           SQL
3             C
4          JAVA
5    JAVASCRIPT
6        ELIXIR
Name: LINGUGEM, dtype: object

In [33]:
df['POPULARIDADE'].apply(lambda txt: txt.swapcase())

0         aLTA
1        bAIXA
2    aLTISSIMA
3        mÉDIA
4    aLTISSIMA
5    aLTISSIMA
6        bAIXA
Name: POPULARIDADE, dtype: object

In [34]:
df['VERSÃO'].agg(['max','sum','mean']).to_frame().T

         max    sum   mean
VERSÃO  16.0  35.43  7.086

In [35]:
df.count(axis='columns')

0    5
1    5
2    4
3    4
4    5
5    5
6    5
dtype: int64

In [36]:
df.count(axis='index').to_frame().T

   LINGUGEM  POPULARIDADE  VERSÃO  DESENVOLVEDORES  DATA DE LANÇAMENTO
0         7             7       5                7                   7

In [37]:
df.value_counts(subset='POPULARIDADE')

POPULARIDADE
Altissima    3
Baixa        2
Alta         1
Média        1
dtype: int64

In [38]:
df.sort_values(by='DESENVOLVEDORES',ascending=False)

     LINGUGEM POPULARIDADE  VERSÃO  DESENVOLVEDORES DATA DE LANÇAMENTO
5  javaScript    Altissima   16.00         25000000         1995-12-04
2         SQL    Altissima     NaN         20000000         1986-01-01
4        Java    Altissima   11.00         16000000         1995-05-23
0      Python         Alta    3.11          7000000         1991-02-20
3           C        Média     NaN          3500000         1972-01-01
1           R        Baixa    4.20           500000         1993-08-03
6      Elixir        Baixa    1.12           200000         2012-01-01

In [39]:
df['DATA DE LANÇAMENTO'] = pd.to_datetime(df['DATA DE LANÇAMENTO'])

In [40]:
df.dtypes

LINGUGEM                      object
POPULARIDADE                  object
VERSÃO                       float64
DESENVOLVEDORES                int64
DATA DE LANÇAMENTO    datetime64[ns]
dtype: object

In [41]:
# df['DATA DE LANÇAMENTO'] = df['DATA DE LANÇAMENTO'].map(lambda dt: dt.strftime('%d/%m/%y'))
df

     LINGUGEM POPULARIDADE  VERSÃO  DESENVOLVEDORES DATA DE LANÇAMENTO
0      Python         Alta    3.11          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altissima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altissima   11.00         16000000         1995-05-23
5  javaScript    Altissima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [42]:
nba = pd.read_csv('https://raw.githubusercontent.com/hermeson883/DataScienceIN/main/Ratividades/aula08/Players_tratado.csv')

In [43]:
nba['height'].map(lambda txt: f'{str(txt)}').to_frame()

     height
0       188
1       178
2       196
3       183
4       196
...     ...
3184    203
3185    193
3186    198
3187    208
3188    213

[3189 rows x 1 columns]